body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
    background-image: url(./img/praca_tubal.png);
   background-size: cover;
   background-repeat: no-repeat;
    background-attachment: fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.login{
  float: right;
   }

   .pesquisar{
    display: block;
   }
   
 .cadastro{   
  display: block;
  float: right;
}
.ocorrencia{
  display: block;
  float: left;

}
